<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta name="twitter:card" content="summary" />
<link rel="icon" href="https://cdn.glitch.global/52317d40-3b89-487d-a27b-c0d4c39edc4f/mingyu.ico?v=1641826371873" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<!--PWA requirements-->
<meta name="theme-color" content="#9480FF"/>
<link rel="apple-touch-icon" href="https://cdn.glitch.global/52317d40-3b89-487d-a27b-c0d4c39edc4f/mingyu-avatar-transparent.png?v=1641912496859">

<!-- PWA setup - update public/sw.js if you add your own assets like a new .css file -->
<link rel="manifest" href="manifest.json">
<script>
if(location.protocol == 'http:') location.protocol = 'https:';
if('serviceWorker' in navigator) {
  navigator.serviceWorker.register('sw.js')
    .then(reg => console.log('Service Worker registered', reg))
    .catch(err => console.error('Service Worker **not** registered', err));
}
else {
  console.warn('Service Worker not supported in this browser');
}    
</script>